1. Print the first 5 positive integers in ascending order with one number 
in each line

In [1]:
for i in range (5):
    print(i+1)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [2]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [3]:
A = int(input(" enter the value of A : "))
print(f"square of A : {A **2}")

 enter the value of A :  4
square of A : 16

4.Accept two integers as input and print their sum as output.

In [4]:
A = int(input(" enter the value of A : "))
B = int(input(" enter the value of B : "))
print(f"sum of A and B : {A+ B}")

 enter the value of A :  5
 enter the value of B :  6
sum of A and B : 11

5. Accept two words as input and print the two words after adding a 
space between them

In [5]:
test1 = input("enter the 1st word ")
test2 = input("enter the 2nd word")

print(test1+" "+test2)

enter the 1st word  mohit
enter the 2nd word yadav
mohit yadav

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [6]:
s = input("enter vrhicle number ")
print(s[0:2])

enter vrhicle number  up16cm7764
up

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [7]:
num = input()
d1 = int(num[0])
d2 = int(num[1])
d3 = int(num[2])
d4 = int(num[3])
d5 = int(num[4])
dsum = d1+d2+d3+d4+d5
print(dsum)

 44322
15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [8]:
a = input(" enter the word 1: ")
b= input("enter the word 2: ")
c = input(" enter the word 3: ")
d = input("enter the word 4: ")
e = input("enter the wordL ")

print(f"sentence is :{a+' '+b+' '+c+' '+d+' '+e+'.'}")

 enter the word 1:  i
enter the word 2:  am
 enter the word 3:  student
enter the word 4:  of ineuron of
enter the wordL  batch fsds 2.0
sentence is :i  am  student  of ineuron of  batch fsds 2.0.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [9]:
date = input("enter the date: ")
print(f" year in date: {date[6::]}")

enter the date:  11-09-`993
 year in date: `993

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [11]:
num = input()
d1 = int(num[0])
d2 = int(num[1])
d3 = int(num[2])
d4 = int(num[3])
d5 = int(num[4])
dsum = d1*d2*d3*d4*d5
print(dsum)

 34325
360

11. Accept two positive integers x and y as input. Print the number of 
digits in xy (x to the power of y )

In [12]:
x = int(input())
y = int(input())
z = x**y
z = str(z)
print(len(z))

 3
 4
2

 12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [13]:
s = input()
n = len(s)
if n/2 == 0:
    if s[n-2] == '.':
        s = s[:-1]
    else:
        s = s+"."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

 mohit
ohi

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [14]:
a = int(input())
b = int(input())
c = int(input())
if((a**2 + b**2 == c**2) or
   (b**2 + c**2 == a** 2) or
   (a**2 + c**2 == b**2)):
    print("Yes this is right triangle")
else:
    print("NO this not a triangle")

 4
 3
 2
NO this not a triangle

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [16]:
emp1=int(input())
emp2=int(input())
emp3=int(input())
emp4=int(input())
emp5=int(input())

if ((emp1+emp2)%2 == 0 and
    (emp2+emp3)%2 == 0 and
    (emp3+emp4)%2 == 0 and
    (emp4+emp5)%2 == 0 and
    (emp5+emp1)%2 == 0):
    print("yes")
else:
    print("no")

 1
 3
 5
 7
 5
yes

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [17]:
input_string = input().lower()
vowels = ""
if "a" in input_string:
    vowels += "a"
if "e" in input_string:
    vowels += "e"
if "i" in input_string:
    vowels += "i"
if "o" in input_string:
    vowels += "o"
if "u" in input_string:
    vowels += "u"
    
if vowels != "":
    print(vowels)
else:
    print("none")

 ineuron
eiou

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [18]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:] :
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5] :
    if int(d1[3:5]) < int(d2[3:5]):
        print(n2)
    else:
        print(n1)
else:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else:
        print(n1)

 mohit
 11-09-1993
 sweta
 04-06-1997
sweta

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [19]:
p = input()
if 8 <= len(p) <= 32 and p[0].isalpha() and '/' not in p and '\\' not in p and '=' not in p and '\'' not in p and " " not in p :
    print("True")
else:
    print("false")

 mohit@1109
True

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [20]:
n = int(input())
for i in range(1,n+1):
    print(i)

 5
1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME if n is a prime number and NOTPRIME otherwise.

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case

In [21]:
a = input()
b = input()
for c in a:
    if c in b:
        b = b.replace(c,'')
print(b)

 mohit
 sweta
swea

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [4]:
n = input()
a = False
if len(n) == 10 and int(n[0]) > 5 and n.isdigit():
    for i in range(10):
        if n.count(n[i])<8:
            a = True
            if n[i]*6 in n:
                a = False
                break
            else:
                break
if a:
    print("valid")
else:
    print("invalid")

 326364889
invalid

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [6]:
s = input().split(" ")
print(s)
a = input()
if a in s:
    print("yes")
    print(s.count(a))
else:
    print("no")

 i love code and i write code
['i', 'love', 'code', 'and', 'i', 'write', 'code']
 code
yes
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [39]:
def factorial(n):
    if n<0:
        return -1
    elif n==1:
        return 1
    else:
        f =1
        for i in range(1,n+1):
            f*=i
        return f

In [40]:
factorial(6)

720

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [9]:
def get_max(L):
    maxi=L[0]
    for x in L:
        if x > maxi :
            maxi = x
    return maxi

def get_min(L):
    mini=L[0]
    for x in L:
        if x < mini :
            mini = x
    return mini

def get_range(L):
    maxi = get_max(L)
    mini = get_min(L)
    return maxi - mini

In [10]:
get_range([2,3,4,5,8])

6

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [14]:
a = str(input())

if a[0] != "D" and a[1] != "S":
    print("False")
else:
    print("True")

 DS234567
True

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [20]:
veicle_criminal = input()
if (veicle_criminal[0:4] =="TN07") or  (veicle_criminal[4:8] == "TN07"):
    print(" True")
else:
    print("false")

 AA00TN07
 True

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [27]:
n = input()
a = int(input())
b = int(input())
x = n[a:b+1]
y = len(n)
ans= ""
while(y>=len(ans)):
    ans+=x
print(ans)

 code
 2
 4
dedede

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [28]:
n = int(input())
for i in range(1,n+1,4):
    if n==i:
        print("Sapphire")
for j in range(2,n+1,4):
    if n == j:
        print("Peridot")
for k in range(3,n+1,4):
    if n == k:
        print("Ruby")
for l in range(4,n+1,4):
    if n == l:
        print("Emerald")

 45
Sapphire

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [30]:
a = float(input())
b = float(input())

if a<=5 and b>6:
    print(5*b)
else:
    print("not selected")

 4
 8
40.0

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [39]:
n = str(input())
if n == n[::-1]:
    print("palindrom")
else:
    print(" not palindrom")

 mayalayam
palindrom

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [2]:
def get_password_strength(username, password):
    c = 0
    capital = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    c_flag= False
    small = "abcdefghijklmnopqrstuvwxyz"
    s_flag = False
    num = "0123456789"
    n_flag = False
    nc_flag = True
    if username in password:
        print("PASSWORD SHOULD NOT CONTAIN USERNAME")
        return
    if len(password)> 7 :
        c = c+1
    for i in range(len(password)):
        if password[i] in small:
            s_flag = True
        elif password[i] in capital:
            c_flag = True
        elif password[i] in num:
            n_flag = True
        if n_flag:
            if i!= (len(password)-1):
                if num[((num.index(password[i]))+1)] == password[i+1]:
                    nc_flag=False
    
    if c_flag and s_flag:
        c+=1
    if n_flag and nc_flag:
        c+=1
    if not password.isalnum():
        c+=1
    if c==4:
        print("very strong")
    if c == 3:
        print("strong")
    if c == 2:
        print("moderate")
        return
    if c == 1:
        print("weak")
        return
    if c==0:
        print("use a different password")
        return

In [3]:
get_password_strength("mohit" , "mohit@ineuron")

PASSWORD SHOULD NOT CONTAIN USERNAME

33.decorator that logs the date and time

In [2]:
from datetime import datetime

def log_datetime(func):
    def wrapper():
        print(f"function: {func.__name__} \nRun on {datetime.today().strftime('%Y-%m-%d %H:%M:%S')}")
        print(f"{'-'*30}")
        func()
    return wrapper

@log_datetime
def daily_backup():
    print("daily backup job has finished")

In [3]:
daily_backup()

function: daily_backup
Run on 2023-06-08 09:59:22
------------------------------
daily backup job has finished

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [1]:
a = [1,2,3,4,5,1,3,3,4]
li = []
for i in a:
    if a.count(i) % 2 != 0 :
        if i not in li:
            li.append(i)
print(li)

[2, 3, 5]

In [14]:
# decorator function to convert to lowercase
def lowercase_dec(function):
    def wrapper():
        func = function()
        string_lowercase = func.lower()
        return string_lowercase
    return wrapper

# decorator function to split words
def splitter_dec(function):
    def wrapper():
        func = function()
        string_split = func.split()
        return string_split
    return wrapper
    

@splitter_dec
@lowercase_dec
def hello():
    return "Hello world"

In [15]:
hello()

['hello', 'world']

35.What are decorators in Python?

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [34]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
n=len(number_list)
while i<n:
    if number_list[i] > 50:
        del number_list[i]
        n = n-1
    else:
        i = i+1
print(number_list)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [42]:
import collections
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

duplicates = []
for item,count in collections.Counter(sample_list).items():
    if count>1:
        duplicates.append(item)
print(duplicates)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [51]:
def manipulate(x,y):
    def inner_func(x,y):
        return x + y
    z= inner_func(x,y)
    return z + "Developer"

In [53]:
result = manipulate("abc","xyz")
print(result)

abcxyzDeveloper

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [63]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][-2][1]= 3500
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [70]:
emp_dict = {"company" : { "employee" : { "name": "Jess","payable": { "salary": 9000, "increment": 12}}}}

emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [75]:
sum =0 
prev = 0
for i in range(0,10):
    sum = i + prev
    print(f"Current Number: {i} Previous Number:{prev} Sum:{sum}")
    prev = i

Current Number: 0 Previous Number:0 Sum:0
Current Number: 1 Previous Number:0 Sum:1
Current Number: 2 Previous Number:1 Sum:3
Current Number: 3 Previous Number:2 Sum:5
Current Number: 4 Previous Number:3 Sum:7
Current Number: 5 Previous Number:4 Sum:9
Current Number: 6 Previous Number:5 Sum:11
Current Number: 7 Previous Number:6 Sum:13
Current Number: 8 Previous Number:7 Sum:15
Current Number: 9 Previous Number:8 Sum:17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [76]:
string = input("input: ")
for i in range(len(string)):
    if i%2 == 0:
        print(string[i], end=" ")

input:  ineuron
i e r n

In [77]:
s = input()
for i in range(0,len(s),2):
    print(s[i], end=" ")

 ineuron
i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [80]:
for i in range(1,11):
    for j in range(1,11):
        c = i*j
        
        print(f"{c} ",end=" ")
    print("\n")

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [83]:
ma = max(sample_list)
mi = min(sample_list)
s=set(sample_list)
l = list(s)
t = tuple(s)
print("unique items " ,l)
print(t)
print("min",mi)
print("max",ma)

unique items  [70, 40, 10, 80, 20, 60, 30]
(70, 40, 10, 80, 20, 60, 30)
min 10
max 80

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [84]:
add = lambda x: x+15
print("Addition: ",add(2))
mul = lambda x,y : x*y
print("multiplication: ", mul(15,2))

Addition:  17
multiplication:  30

46. Write a Python program to sort a list of tuples using Lambda.

In [87]:
sortlist = lambda x:sorted(x)
l = [(3,'t'),(2,'r'),(4,'s')]
sortlist(l)

[(2, 'r'), (3, 't'), (4, 's')]

In [90]:
subject_mark = [("english",95),("maths" , 90),("social studies" , 92),("science" , 98)]
print("original list of tuples:")
print(subject_mark)
subject_mark.sort(key = lambda x: x[1])
print("\nsorting the list of tuples: ")
print(subject_mark)

original list of tuples:
[('english', 95), ('maths', 90), ('social studies', 92), ('science', 98)]

sorting the list of tuples:
[('maths', 90), ('social studies', 92), ('english', 95), ('science', 98)]

47. Write a Python program to extract year, month, date and time using Lambda.

In [98]:
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x:x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x:x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2023-06-09 11:18:37.425453
2023
6
9
11:18:37.425453

In [106]:
x = lambda a,b,c : ((b**2)-(4*a*c))
x(2,3,4)

-23

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [130]:
l = [1,2,3,4,5,6,7,8,9]

even = len(list(filter(lambda x : x%2==0,l)))
odd = len(list(filter(lambda x:x%2 !=0,l)))

print("Total even numbers: ",even)
print("Total odd numbers: ",odd)

Total even numbers:  4
Total odd numbers:  5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [140]:
def test(s):
    return str(s).upper(),str(s).lower()

chars = ['a' , 'E', 'N','c']

result = map(test,chars)

print(set(result))

{('A', 'a'), ('E', 'e'), ('N', 'n'), ('C', 'c')}

50.  Write a Python program to square the elements of a list using map() function.

In [131]:
def multiply(n):
    return n*n

In [142]:
numbers = (1,2,3,4,5,5)
result = map(multiply, numbers)
print(set(result))

{1, 4, 9, 16, 25}